src/AepCore/References/AEPCore.framework/AEPCore filter=lfs diff=lfs merge=lfs -text
src/AEPIdentity/References/AEPIdentity.framework/AEPIdentity filter=lfs diff=lfs merge=lfs -text
src/AepLifecycle/References/AepLifecycle.framework/AepLifecycle filter=lfs diff=lfs merge=lfs -text
src/AepRulesEngine/References/AepRulesEngine.framework/AepRulesEngine filter=lfs diff=lfs merge=lfs -text
src/AepServices/References/AepServices.framework/AepServices filter=lfs diff=lfs merge=lfs -text
src/AepSignal/References/AepSignal.framework/AepSignal filter=lfs diff=lfs merge=lfs -text